<nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="https://getbootstrap.com/docs/4.1/components/navbar/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Bootstrap Navbar yeah! Here's the articles:
      </a>
    </nav>


<h1><%= @article.title %></h1>


<h2>Story:</h2>
<%= @article.content %>

<%= link_to 'Back', :back %>

<%= link_to "edit", article_edit_url, method: :get%>
