<nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <i class="fas fa-grin-alt"></i>
        Bootstrap Navbar yeah! Here's the articles:
      </a>
    </nav>


<h1><%= @article.title %></h1>


<h2>Story:</h2>
<%= @article.content %>



<%= link_to article_edit_url, method: :get do%>
<i class="far fa-edit"></i>
<%end%>

<%= link_to 'Back', :back %>
